<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Perfil de Usuario</title>
    <link rel="stylesheet" href="/assets/css/admin/Inicioperfil.css" />
  </head>
  <body>
    <div class="perfil-container">
      <div class="foto-perfil">
        <img src="ruta/a/la/foto/de/perfil.jpg" alt="Foto de perfil" />
      </div>
      <div class="informacion-usuario">
        <h2 id="nombre-usuario">Nombre del Usuario</h2>
        <p>
          <strong>Email:</strong>
          <span id="email-usuario">usuario@example.com</span>
        </p>
        <p>
          <strong>Cumpleaños:</strong>
          <span id="cumpleanos-usuario">01/01/1990</span>
        </p>
        <!-- Botón de Edición de Perfil -->
        <button id="editar-perfil" onclick="editarPerfil()">Editar Perfil</button>
        <!-- Más información del usuario aquí -->
      </div>
      <div class="publicaciones">
        <h3>Publicaciones Recientes</h3>
        <!-- Lista de publicaciones aquí -->
      </div>
    </div>

    <script src="/assets/js/admin/perfil.js"></script>
  </body>
</html>
