/* Contenedor Principal para la Sección de Comentarios */
.contenedor-comentarios {
    display: flex;
    flex-direction: column;
    justify-content: space-between; /* Asegura que el formulario se mantenga abajo */
    height: 400px; /* Altura fija o dinámica según tus necesidades */
    border: 1px solid #ccc;
    margin: 20px;
    padding: 10px;
    background-color: #f9f9f9;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
    overflow: hidden; /* Oculta el desbordamiento */
  }
  
  /* Lista de Comentarios */
  .lista-comentarios {
    overflow-y: auto; /* Permite desplazarse a través de los comentarios */
    margin-bottom: 10px; /* Espacio entre la lista de comentarios y el formulario */
    padding: 10px;
  }
  
  /* Estilo para Cada Comentario */
  .comentario {
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.1);
  }
  
  /* Estilos para el Nombre del Usuario en el Comentario */
  .comentario h5 {
    margin: 0 0 5px 0;
    color: #333;
  }
  
  /* Estilos para el Texto del Comentario */
  .comentario p {
    margin: 0;
    color: #666;
  }

  /* Estilos para las Opciones de Comentarios */
.opciones-comentario {
    margin-top: 10px;
  }
  
  .opciones-comentario a {
    color: #007bff;
    text-decoration: none;
    margin-right: 15px;
    font-size: 0.9em;
  }
  
  .opciones-comentario a:hover {
    text-decoration: underline;
  }
  
  /* Opcionales: Estilos para iconos, si decides usarlos */
  .opciones-comentario .responder:before {
    content: '\2709'; /* Icono de responder, ejemplo con un símbolo Unicode */
    margin-right: 5px;
  }
  
  .opciones-comentario .reaccionar:before {
    content: '\2764'; /* Icono de corazón, ejemplo con un símbolo Unicode */
    margin-right: 5px;
  }
  
  
  /* Formulario para Escribir un Nuevo Comentario */
  .formulario-comentario {
    border-top: 1px solid #ddd;
    padding-top: 10px;
  }
  
  /* Textarea del Formulario */
  .formulario-comentario textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-bottom: 10px;
  }
  
  /* Botón para Enviar Comentario */
  .formulario-comentario button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .formulario-comentario button:hover {
    background-color: #0056b3;
  }
  