/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.container { 
    max-width: 400px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #007BFF; /* Cambiar el color del título para que sea más destacado */
}

/* Estilos para etiquetas y campos de formulario */
label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
}

input[type="text"],
input[type="number"] {
    width: 100%; /* Asegura que los campos se ajusten al contenedor */
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

/* Estilos para botones */
input[type="submit"] {
    background-color: #007BFF;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    font-weight: bold; /* Hace que el texto del botón sea más claro */
    transition: background-color 0.3s;
}

input[type="submit"]:hover {
    background-color: #0056b3; /* Cambiar el color al pasar el mouse */
}

/* Estilos para el mensaje de confirmación */
#mensaje {
    background-color: #4CAF50;
    color: #fff;
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    text-align: center;
    display: none;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}
