/* Estilos generales para la lista de usuarios */
body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    padding: 20px 10px; /* Reducción del relleno para pantallas más pequeñas */
}

h1 {
    background-color: #70aee9;
    color: #000000;
    padding: 20px;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    background-color: #fff;
    padding: 10px;
    margin: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    display: flex;
    flex-direction: column; /* Cambio de dirección en dispositivos más pequeños */
    justify-content: center; /* Alineación vertical al centro */
}

/* Estilos específicos para los botones y enlaces */
button, a {
    text-decoration: none;
    background-color: #70aee9;
    color: #000000;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    margin: 5px 0; /* Espaciado vertical entre botones y enlaces */
    font-weight: bold;
    transition: background-color 0.3s;
}

button:hover, a:hover {
    background-color: #0056b3;
}

/* Alineación de los botones al final de la página */
.button-container {
    display: flex;
    flex-direction: column; /* Cambio de dirección en dispositivos más pequeños */
    justify-content: center; /* Alineación vertical al centro */
    margin-top: 20px; /* Espaciado superior en dispositivos más pequeños */
}
